DASHBOARD_PASSWORD=weneedtoaddoidc
BASE_URL=https://rsvp.example.group
SMS_API_BASE_URL=https://api.nexmo.com/v1
SMS_API_FROM_NUMBER=18885555555
SMS_API_KEY=1234abcd
SMS_API_SECRET=yourcoolsecret
MAGIC_LINK_EXPIRATION_SECONDS=300
TIMEZONE=America/New_York
JWT_SECRET=generateme
